.foto{
    width: 350px;
    height: 350px;
    border-radius: 100%;
    background-image: url("../assets/andreza.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 186%;
    display: inline-block;
    border-style: solid;
    border-color: black;
    border-width:6px ;
    vertical-align: middle;

}

.conteudo{
    display: inline-block;
    width: 450px;
    padding-left: 20px;
}

.conteudo p{
    font-size: 20px;
    display: inline-block;
    width: 100%;
}

.botao{
    font-size: 20px;
    border: 1px solid #000;
    padding: 15px 30px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;

}

.botao .material-symbols-outlined{
    display: inline-block;
    vertical-align: middle;
}


