.foto{
    width: 350px;
    height: 350px;
    border-radius: 100%;
    background-image: url("../assets/andreza.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 186%;
    display: inline-block;
    vertical-align: middle;
    border:6px solid rgb(198, 151, 75);    
}

.conteudo{
    width: 450px;
    padding-left: 50px;
}

.conteudo p{
    display: inline-block;
    width: 100%;
}

.botao{
    display: inline-block;
    max-width: 150px;
    font-size: 20px;
    border: 1px solid #000;
    padding: 15px 30px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

.botao .material-symbols-outlined{
    display: inline-block;
    vertical-align: middle;
}


.pagina-inicial{
    background: rgb(16,16,36);
    background: linear-gradient(90deg, rgb(16, 16, 16) 38%, rgb(198, 151, 75) 38%);  
}
.subtitulo,
.titulo{
    margin:0;
    padding: 0;
}

.subtitulo{
    padding-top:10px;
    font-size: 40px;
}

.descricao{
    font-size: 35px;
}

@media screen and (max-width: 900px) {
    .pagina-inicial{
        background: rgb(198, 151, 75);  
    } 
    .foto{
        width:200px;
        height: 200px;
    }
}