@import "normaliza.css";

.header{
    width: 100%;
    z-index: 100;
    text-align: left; 
    position: fixed;
    display: block;
    padding: 0 20px 0 20px ;
    box-sizing: border-box;
}

.single-page{
    height: 100vh;
    padding-top: 100px;
}

.material-symbols-outlined{
    font-size: 14px;
}

body{
    background: rgb(1,0,13);
    background: linear-gradient(90deg, rgba(1,0,13,1) 40%, rgba(198,151,75,1) 1%);
    
}

.logo{
    font-family: 'Ms Madi', cursive;
    float: left;
}

.logo-item{
    color: rgba(198,151,75,1);
    font-size: 20px;
    text-decoration: none;

}

.header-nav{
    float: right;
}

.header-nav-list{
    display: inline-block;
}

.header-nav-list-item{
    display: inline-block;
    padding: 0 15px;
    font-size: 20px;
}

ul a{
    line-height: 2.2em;
    color: #000;
    font-size: 20px;
}

ul a:hover {
    color: #000;
    width: auto;
}

.foto  {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    background-image: url("../assets/andreza.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: inline-block;
    border-style: solid;
    border-color: #c6974b;
    border-width:6px ;
    margin: 0 0 10px 0px;
    position: absolute;
    left: -139px;
}
.wrap-content{
    margin-left: 40%;
}
.conteudo{
    display: inline-block;
    width: 320px;
    padding-left: 138px;
    font-family: 'Lato', sans-serif;
    margin-left: 10px;
    padding-top: auto;

}

.titulo{
    font-size: 1em;
}

.subtitulo{
    margin-top: -6px;

}

.botao{
    font-size: 14px;
    border: 1px solid #000;
    padding: 8px 25px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: auto;

}

.conteudo p{
    font-size: 25px;
    display: inline-block;
    width: 100%;
    color: #000;
    margin-top: auto;

}

.display-flex{
    display: flex;
}

.justify-content{
    justify-content: center;
}
.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}
.flex-align{
    align-items: center;
}

.position-relative{
    position: relative;
}

.pagina-contato {
    padding-left: 20px;
    background-position: center;
    background-size: 186%;
}

.pagina-projetos{
    padding-left: 20px;
    background-position: center;
    background-size: 186%;
}

.p .habilidades{
    font-style: ;
 
}