@import "normaliza.css";
@import "header.css";

p{
    color: aqua;
}

header{
    padding: auto;
}

nav{
    padding: 10px;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #474a48;
}
.container{
    margin: 0 auto;
    width: 1024px;
}
html {
    scroll-behavior: smooth;
}
.pagina-inicial{
    background-color: #537A5A;
}
.pagina-contato{
    background-color: #9AE19D;
}
.single-page{
    display: inline-block;
    width: 100%;
    height: 900px;
    padding-top: 100px;
}