@import "normaliza.css";
@import "header.css";
@import "inicio.css";

p{
    color: #000;
}

header{
    padding: auto;
}

nav{
    padding: 23px;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #474a48;
}
.container{
    margin: 0 auto;
    width: 95%;
}
html {
    scroll-behavior: smooth;
}
.pagina-inicial{
    background-color: #6C706C;
}
.pagina-contato{
    background: rgb(21, 21, 40);
    background: linear-gradient(90deg, rgb(21, 21, 40) 38%, rgb(160, 134, 94) 38%);  
}
.single-page{
    display: inline-block;
    width: 100%;
    height: calc(100vh - 100px);
    padding-top: 100px;
}

ul a{
    display: block;
    padding: 0 2m;
    line-height: 2.2em;
    text-decoration: none;
    color:#000;
}

ul a:hover {
    color: #FFF;
    border-color: #FFF;
}

.display-flex-gisele{
    display: flex;
}

.justify-content{
    justify-content: center;
}
.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}
.flex-align{
    align-items: center;
}
.black{
    color: #000;
}