@import "normalize.css";

html {
    scroll-behavior: smooth;
}
body{
    background: rgb(1,0,13);
    background: linear-gradient(90deg, rgba(1,0,13,1) 40%, rgba(198,151,75,1) 1%);
    font-family: 'Lato', sans-serif;
}
@font-face{ 
	font-family: 'Lato';
	src: url('../assets/font/lato/lato-lightitalic-webfont.eot');
	src: url('../assets/font/lato/lato-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../assets/font/lato/lato-lightitalic-webfont.woff') format('woff'),
	     url('../assets/font/lato/lato-lightitalic-webfont.ttf') format('truetype'),
	     url('../assets/font/lato/lato-lightitalic-webfont.svg#lato-regular') format('svg');
}

@font-face{ 
	font-family: 'Ms Madi';
	src: url('../assets/font/ms-madi/msmadi-regular-webfont.eot');
	src: url('../assets/font/ms-madi/msmadi-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../assets/font/ms-madi/msmadi-regular-webfont.woff') format('woff'),
	     url('../assets/font/ms-madi/msmadi-regular-webfont.ttf') format('truetype'),
	     url('../assets/font/ms-madi/msmadi-regular-webfont.svg#lato-regular') format('svg');
}

.display-flex{
    display: flex;
}
.justify-content{
    justify-content: center;
}
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
.flex-align{
    align-items: center;
}
.position-relative{
    position: relative;
}
.single-page{
    height: 100vh;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.single-page.pagina-inicial{
    justify-content: left;
}
.header{
    width: 100%;
    z-index: 100;
    text-align: left; 
    position: fixed;
    display: block;
    padding: 0 20px 0 20px ;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background: rgb(1,0,13);
    background: linear-gradient(90deg, rgba(1,0,13,1) 40%, rgba(198,151,75,1) 1%);
}
.header-nav{
    float: right;
}
.header-nav-list{
    display: inline-block;
}
.header-nav-list-item{
    display: inline-block;
    padding: 0 15px;
    font-size: 20px;
}
.header-nav-mobile{
    display: none;
    
}
.logo{
    font-family: 'Ms Madi', cursive;
    margin-left: -145px;
    position: absolute;
    left: 40%;
}
.logo span{
    color: #000;
}
.logo-item{
    color: rgba(198,151,75,1);
    font-size: 37px;
    text-decoration: none;
}
ul a{
    line-height: 2.2em;
    color: #000;
    font-size: 20px;
}
ul a:hover {
    color: #000;
    width: auto;
}

.material-symbols-outlined{
    font-size: 14px;
}
.foto  {
    width: 240px;
    height: 240px;
    border-radius: 100%;
    background-image: url("../assets/andreza.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: inline-block;
    border-style: solid;
    border-color: #c6974b;
    border-width:6px ;
    margin: 0 0 10px 0px;
    position: absolute;
    left: -139px;
}
.wrap-content{
    margin-left: 40%;
}
.conteudo{
    display: inline-block;
    width: 320px;
    padding-left: 138px;
    font-family: 'Lato', sans-serif;
    margin-left: 10px;
    padding-top: auto;
}
.titulo{
    font-size: 1em;
}
.subtitulo{
    margin-top: -6px;
}
.botao{
    font-size: 14px;
    border: 1px solid #000;
    padding: 8px 25px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: auto;
}
.botao span{
    vertical-align: middle;
}
.conteudo p{
    font-size: 25px;
    display: inline-block;
    width: 100%;
    color: #000;
    margin-top: auto;
}
.container-page{
    display:flex;
    width: 60%;
    overflow: hidden;
    margin-left: 40%;
    justify-content: center;
    align-items: center;
}
.habilidades{
    display: flex;
    width: 100%;
    justify-content: stretch;
    list-style: none;
    margin: 0;
    padding: 0;
}
.habilidades li{
    display: flex;
    flex: 100%;
    border-radius: 10px;
    background-color: #FFF;
    align-items: center;
    flex-direction: column;
    margin: 0 7px;
    padding-bottom: 40px;

}
.habilidades p{
    display: inline-block;
    text-align: left;
    padding: 5px 10px;
    font-size: 20px;    
    margin: 24px 0 0 0;
    width: 100%;
    box-sizing: border-box;
}
.page-titulo{
    font-size: 39px;
    color: rgba(198,151,75,1);
    position: absolute;
    left: 18%;
}
.material-symbols-outlined.habilidades-linguagem{
    font-size: 50px;
    color: rgba(198,151,75,1);
}
.bar-progress{
    display: inline-block;
    height: 8px;
    border-radius: 10px;
    position: relative;
    background-color: rgba(198,151,75,1);
    width: 90%;
    margin: 0 10px;
}
.bar-progress span{
    background-color: #000;
    color: #FFF;
    border-radius: 5px;
    padding: 2px 3px;
    font-size: 11px;
    position: absolute;
    top: -5px;
}
.bar-progress::after{
    content: '100%';
    position: absolute;
    right: 0;
    top: 12px;
    font-size: 10px;
}
.bar-progress::before{
    content: '0';
    position: absolute;
    left: 0;
    top: 12px;
    font-size: 10px;
}
.conteudo-contato p{
    font-size: 30px;
}
.conteudo-contato p a{
    color: #1a110e;
}
.contato-mobile{
    display: none;
}
@media (max-width: 1024px){
    .header,
    body{
        background: rgba(198,151,75,1);
    }
    .header-nav{
        display: none;
    }
    .header-nav-mobile .material-symbols-outlined{
        font-size: 52px;
    }
    .header-nav-mobile{
        display: inline-block;
        color: #000;
        width: 40px;
        height: 40px;
        margin-top: 10px;
    }
    .logo-item{
        color: #000;
    }
    .single-page{
        margin: 0;
        padding: 0;
        width: 100%;
        padding-top: 94px;
        text-align: center;
        display: flex;
    }
    .foto{
        text-align: center;
        margin: 0;
        padding: 0;
        position: relative;
        left: auto;

    }
    .conteudo .pagina-inicial{
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: right;
        flex-wrap: wrap;
        gap: 18px;
        max-width: 76%;
        font-size: 40px;
    }
    .container-page {
        display: flex;
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
        justify-content: center;
        flex-direction: column;
    }
    .logo{
        width: 80%;
        position: initial;
        left: 0;
        margin: 0;
        margin-top: 10px;
        display: inline-block;
    }
    .titulo{
        font-size: 30px;
    }
    .conteudo-mobile{
        flex-direction: column;
        margin-left: 0;
    }
    .conteudo{
        font-family: 'Lato', sans-serif;
        margin-left: 0;
        text-align: center;
        padding-left: 0;
        width: 60%;
        justify-content: center;
        align-items: center;
    }
    .page-titulo {
        font-size: 44px;
        position: relative;
        margin-top: 0;
        left: 0;
        color: #000;
        width: 60%;
    }
    .habilidades{
        margin: 24px;
        width: 80%;

    }
    .conteudo-contato-mobile{
        display: none;
    }

}
@media (max-width: 500px){
    .habilidades {
        flex-direction: column;
        margin: 25px;
        width: 80%;
    }
    .habilidades li{
        margin: 0 7px 24px;

    }
    .conteudo-contato{
    margin: 24px;
    display: inline-block;
    padding: 24px;
    width: 100%;
    }
    .conteudo-contato-mobile{
        margin: 24px;
        display: inline-block;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .icones{
        display: flex;
        gap: 25px;
    }    
    .links1, .links2 {
        height: 52px;
        width: 52px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    img {
        max-width: 50%;
        display: block;
    }
    .conteudo-contato{
        display: none;
    }
    .conteudo-contato-mobile p{
        font-size: 30px;
        display: inline;
    }
}
