@import "normaliza.css";
@import "header.css";
@import "inicio.css";

p{
    color: #000;
}

header{
    padding: auto;
}

nav{
    padding: 23px;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #474a48;
}
.container{
    margin: 0 auto;
    width: 1024px;
}
html {
    scroll-behavior: smooth;
}
.pagina-inicial{
    background-color: #6C706C;
}
.pagina-contato{
    background-color: #75737B;
}
.single-page{
    display: inline-block;
    width: 100%;
    height: 900px;
    padding-top: 100px;
}

ul a{
    display: block;
    padding: 0 2m;
    line-height: 2.2em;
    text-decoration: none;
    color:#fff;
}

ul a:hover {
    color: #000;
    background: #537A5A;
}